<h1>Profile for <%=@user.email%></h1>
  <h2>Games I own:</h2>
  <p><%=@profile.owned_games%></p>
  <h2>Gender: </h2>
  <p><%=@profile.gender%></p>
  <h2>Location:</h2>
  <p><%=@profile.location%></p>
  <h2>Bio:</h2>
  <p><%=@profile.bio%></p>
