<div><%= link_to "Back", events_path%></div>
<section class="event">
<h2><%= @event.game_name %></h2>
<p><em>Created By:</em> <%= @event.user.email %></p>
<p><em>Players Needed:</em> <%= @event.num_players %></p>
<p><em>When:</em> <%= @event.time.strftime("%a, %b %d %I:%M %p") %></p>
<p><em>Where:</em> <%= @event.location %></p>
<div><p><%= @event.description %></p></div>
<p><em>Users Joined:</em></p>
  <!-- This lists all the attendances for this event -->
<% @event.attendances.each do |a| %>
  <p class="joined"><%= a.user.email %></p>
<%end%>

<% if @event.user.id == current_user.id %>
  <%= link_to "Edit Event", edit_user_event_path(@event.user,@event) %>
<% end %>

<% if should_show_join_button? %>
  <%= render "attendances/form" %>
<% end %>

<% if @event.attendances.find_by(user_id: current_user.id) %>
  <%= render "attendances/leave" %>
<% end %>

</section>

<%= render "comments/form" %>

<%if @event.comments.all.length > 0 %>
  <div class="comments">
  <%@event.comments.all.each do |comment|%>
    <div class="comment">
    <p><strong><%=comment.commenter%></strong></p>
    <p><%=comment.body%></p>
    <%if current_user.email == comment.commenter%>
      <%= link_to 'Delete Comment', [comment.event, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <%end%>
    </div>
  <%end%>
</div>
<%end%>
