<div><%= link_to "Back", events_path%></div>
<section class="event">
<h1><%= @event.game_name %></h1>
<p>Created By: <%= @event.user.email %></p>
<p>Players Needed: <%= @event.num_players %></p>
<p>When: <%= @event.time.strftime("%a, %b %d %I:%M %p") %></p>
<p>Where: <%= @event.location %></p>
<div><p><%= @event.description %></p></div>
<p>Users Joined:</p>
  <!-- This lists all the attendances for this event -->
<% @event.attendances.each do |a| %>
  <div><%= a.user.email %></div>
<%end%>

<% if @event.user.id == current_user.id %>
  <%= link_to "Edit Event", edit_user_event_path(@event.user,@event) %>
<% end %>

<% if should_show_join_button? %>
  <%= render "attendances/form" %>
<% end %>

<% if @event.attendances.find_by(user_id: current_user.id) %>
  <%= render "attendances/leave" %>
<% end %>

</section>

<%= render "comments/form" %>

<%if @event.comments.all.length > 0 %>
  <section class="comments">
  <%@event.comments.each do |comment|%>
    <p><%=comment.body%></p>
    <%= link_to 'Destroy Comment', [comment.event, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  <%end%>
  </section>
<%end%>
