
<h1><%= @event.game_name %></h1>
<p>Created By: <%= current_user.email %></p>
<p>Players Needed: <%= @event.num_players %></p>
<p>When: <%= @event.time %></p>
<p>Where: <%= @event.location %></p>
<p><%= @event.description %></p>
