<!DOCTYPE html>
<html>
<head>
  <title>BoardTogether</title>
  <link href='https://fonts.googleapis.com/css?family=Merienda+One|Averia+Serif+Libre:400,700|Cuprum:400,700|Coustard:400,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <% if current_user %>

        <li class="user_name"><%= link_to current_user.email, user_profile_path(current_user) %></li>

        <li><%= link_to "Create Event", new_user_event_path(current_user)%></li>

        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <%end%>

    <ul>
  </nav>
  <div class="banner-img">
  </div>
  <main>
    <%= yield %>
  </main>
</body>
</html>
