<!DOCTYPE html>
<html>
<head>
  <title>BoardTogether</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <% if current_user %>
        <li class="user_name">Hello, <%=current_user.email%></li>
        <a href="<%=new_user_event_path(current_user) %>"><li>Create Event</li></a>
      <% end %>
        <%=link_to "Sign Out", destroy_user_session_path%>

    <ul>
  </nav>
  <main>
    <%= yield %>
  </main>
</body>
</html>
